<div class="container mt-3">
    <div class="container-fluid heroBorder heroDiv">
        <div class="heroText">
            <h1 class="text-success text-center display-3"> <b> Bienvenue chez Quiz Simple</b></h1>
            <p class="text-danger text-center">Un endroit ou l'on peut apprendre en s'amusant. </p>
            <div class="mt-4">
                <button class="btn btn-primary heroBtn" routerLink="/ajouterQuiz"
                routerLinkActive="active">Produire un quiz</button>
                <button class="btn btn-primary heroBtn" routerLink="/listerQuizNU"
                routerLinkActive="active">Passer un quiz</button>
            </div>
        </div>
    </div>
</div>
