<div class="container">
<form #edit_form="ngForm" (ngSubmit)="updateQuiz()">
    <h1>{{titre}}</h1>
    <div *ngFor="let question of ListeQuestion">
        <br>
        <div> {{ question.enonce}}</div>
        <div id="{{question.questionId}}">
            <div class="border">
                <div *ngFor="let option of ListeOption">
                    <div *ngIf="question.questionId == option.questionId">
                        <input type="radio" name="{{option.questionId}}" id="{{option.optionId}}"
                            value="{{option.texte}}">
                        <label for="{{ option.optionId }}">{{ option.texte }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button routerLinkActive="active"> <a class="btn btn-primary mt-1"> Soumettre </a></button>
</form>
</div>